<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <p>The heliss Masta Pasta</p>
        <img src="img/Vegeta.jpg" class="portrait"> 

    </div>
    
    <p>{{>footer}}</p>
</body>

</html>